
<div class="container mt-5 results-container">
  <h1 class="mb-4 text-center">Result</h1>
  <p class="text-center"><%= @message%></p>
  <div class="text-center button-container">
    <%= link_to 'Play again', '/new', class: "d-block link text-center btn btn-primary w-25" %>
  </div>
  <p><%= @time_taken.round(2) %> seconds</p>
  <p><%= @score.round(2) %> points</p>
</div>
